@using EntityLayer.Concrete
@model List<Kullanici>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Servis Randevu Talepleri</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı ID</th>
        <th>Ad Soyad</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Plaka</th>
        <th>Kullanici Tarih</th>
        <th>Telefon</th>
        <th>Randevu Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.KullaniciID</th>
            <td>@item.Kullanici_AdSoyad</td>
            <td>@item.Marka</td>
            <td>@item.Model</td>
            <td>@item.Plaka</td>
            <td>@item.Kullanici_Tarih</td>
            <td>@item.Telefon</td>
            <td><a href="/Admin/Fiyat/DeleteKullanici/@item.KullaniciID/" id="DeleteBtn" class="btn btn-success" onclick="return confirm('Silmek istediğinize emin misiniz');">Sil</a></td>
            
        </tr>
    }
</table>
<a href="/Admin/Fiyat/AddKullanici/" class="btn btn-primary">Randevu Ekle</a> <br />
<br />
<br />
