@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using EntityLayer.Concrete
@model List<Arac>
@{
    ViewData["Title"] = "FiyatListeleri";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="typo">
    <div class="container">
        <div class="typo-title">
            <h3>@localizer["BİNEK ARAÇ FİYATLARI"]</h3>
        </div>
        <div class="grid_3 grid_4 w3_agileits_icons_page">
            <h3 class="agileits-icons-title">@localizer["İlgilendiğiniz model için aşağıdaki binek otomobil fiyat listesini inceleyebilirsiniz."]</h3>
        </div>
        <div class="container">
            <div class="bs-docs-example">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@localizer["Marka"]</th>
                            <th>@localizer["Model"]</th>
                            <th>@localizer["Donanım"]</th>
                            <th>@localizer["Motor Hacmi"]</th>
                            <th>@localizer["Yakıt"]</th>
                            <th>@localizer["Vites"]</th>
                            <th>Hp</th>
                            <th>@localizer["Fiyat"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Marka</td>
                                <td>@item.Model</td>
                                <td>@item.Donanim</td>
                                <td>@item.Motor_hacmi</td>
                                <td>@localizer[@item.Yakit_tipi]</td>
                                <td>@localizer[@item.Vites_tipi]</td>
                                <td>@item.AracBg</td>
                                <td>@item.Fiyat</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>