@using EntityLayer.Concrete
@model List<Arac>
@{
    ViewData["Title"] = "FiyatListeleri";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="typo">
    <div class="container">
        <div class="typo-title">
            <h3>BİNEK ARAÇ FİYATLARI</h3>
        </div>
        <div class="grid_3 grid_4 w3_agileits_icons_page">
            <h3 class="agileits-icons-title">İlgilendiğiniz model için aşağıdaki binek otomobil fiyat listesini inceleyebilirsiniz.</h3>
        </div>
        <div class="container">
            <div class="bs-docs-example">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Donanım</th>
                            <th>Motor Hacmi</th>
                            <th>Yakıt</th>
                            <th>Vites</th>
                            <th>Hp</th>
                            <th>Fiyat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Marka</td>
                                <td>@item.Model</td>
                                <td>@item.Donanim</td>
                                <td>@item.Motor_hacmi</td>
                                <td>@item.Yakit_tipi</td>
                                <td>@item.Vites_tipi</td>
                                <td>@item.AracBg</td>
                                <td>@item.Fiyat</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>